{% extends 'admin/master.html' %}

{% block body %}
	<form action="" class="well col-md-6" method="post" enctype="multipart/form-data" role="form">
		<p>A secret key is required to upload IIF files and view your rules.</p>
		<p>(Note: Remember your secret key! It's your password.)</p>
		<div class="form-group">
			<label for="secret">Secret Key</label>
			<input type="text" class="form-control" name="secret" id="secret" value="{{secret}}">
		</div>
		<button type="submit" class="btn btn-default">Save</button>
    </form>
{% endblock %}