{% extends "base.html" %}

{% block style_block %}
	{{ super() }}
    <link href="/static/css/jquery.handsontable.full.css" rel="stylesheet" />
{% endblock %}

{% block head_script %}
    {{ super() }}
	<script src="/static/js/lib/jquery.handsontable.full.js"></script>
{% endblock %}

{% block content %}
	<form action="" method="post" enctype="multipart/form-data">
      <p><input type=file name=file></p>
      <p><input type=submit value=Upload></p>
    </form>
{% endblock content %}

{% block tail_script %}
{% endblock tail_script %}
